<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Video Slideshow</string>
		<key>subTitle</key>
		<string>1-click for masterpiece with gorgeous effects</string>
		<key>titleColor</key>
		<integer>16777215</integer>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>imageName</key>
		<string>banner1</string>
		<key>imageName_x</key>
		<string>banner_x1</string>
		<key>titleFont</key>
		<integer>19</integer>
		<key>subTitleFont</key>
		<string>12</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
		<key>subTitlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>More Effects</string>
		<key>subTitle</key>
		<string>Edit with no limits</string>
		<key>imageName_x</key>
		<string>banner_x2</string>
		<key>titleColor</key>
		<real>16777215</real>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>imageName</key>
		<string>banner2</string>
		<key>titleFont</key>
		<integer>19</integer>
		<key>subTitleFont</key>
		<string>12</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Cut and Merge</string>
		<key>imageName_x</key>
		<string>banner_x3</string>
		<key>subTitle</key>
		<string>Personalize your favorite clips</string>
		<key>titleColor</key>
		<real>16777215</real>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>titleFont</key>
		<integer>19</integer>
		<key>imageName</key>
		<string>banner3</string>
		<key>subTitleFont</key>
		<string>12</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
</array>
</plist>
