<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.hdgame.xjvideoeditorEn</key>
	<dict>
		<key>productIdentifier</key>
		<string>com.hdgame.xjvideoeditorEn</string>
		<key>ID</key>
		<string>500</string>
		<key>cycleStr</key>
		<string>终身</string>
		<key>isSuggest</key>
		<string>YES</string>
		<key>subTitle</key>
		<string>享受永久会员特权</string>
		<key>productType</key>
		<string>Non-consumption</string>
	</dict>
	<key>com.hdgame.xjvideoeditor.vip1</key>
	<dict>
		<key>productIdentifier</key>
		<string>com.hdgame.xjvideoeditor.vip1</string>
		<key>ID</key>
		<string>501</string>
		<key>cycleStr</key>
		<string>年</string>
		<key>subTitle</key>
		<string>每年自动续订，可随时关闭</string>
		<key>productType</key>
		<string>Subscription</string>
	</dict>
	<key>com.hdgame.xjvideoeditor.vip2</key>
	<dict>
		<key>productIdentifier</key>
		<string>com.hdgame.xjvideoeditor.vip2</string>
		<key>ID</key>
		<string>502</string>
		<key>cycleStr</key>
		<string>半年</string>
		<key>subTitle</key>
		<string>每半年自动续订，可随时关闭</string>
		<key>productType</key>
		<string>Subscription</string>
	</dict>
	<key>com.hdgame.xjvideoeditor.vip3</key>
	<dict>
		<key>productIdentifier</key>
		<string>com.hdgame.xjvideoeditor.vip3</string>
		<key>ID</key>
		<string>503</string>
		<key>cycleStr</key>
		<string>月</string>
		<key>subTitle</key>
		<string>每月自动续订，可随时关闭</string>
		<key>productType</key>
		<string>Subscription</string>
	</dict>
</dict>
</plist>
