<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>玩转相册美图</string>
		<key>subTitle</key>
		<string>一键生成特效大片</string>
		<key>titleColor</key>
		<integer>16777215</integer>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>imageName</key>
		<string>banner1</string>
		<key>imageName_x</key>
		<string>banner_x1</string>
		<key>titleFont</key>
		<integer>20</integer>
		<key>subTitleFont</key>
		<string>20</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>多样视频模板</string>
		<key>subTitle</key>
		<string>随心所欲编辑</string>
		<key>titleColor</key>
		<integer>16777215</integer>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>imageName</key>
		<string>banner2</string>
		<key>imageName_x</key>
		<string>banner_x2</string>
		<key>titleFont</key>
		<integer>20</integer>
		<key>subTitleFont</key>
		<string>20</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>精彩片段  任意截取</string>
		<key>subTitle</key>
		<string></string>
		<key>titleColor</key>
		<real>16777215</real>
		<key>subTitleColor</key>
		<integer>16777215</integer>
		<key>titleFont</key>
		<integer>20</integer>
		<key>imageName</key>
		<string>banner3</string>
		<key>imageName_x</key>
		<string>banner_x3</string>
		<key>subTitleFont</key>
		<string>20</string>
		<key>titlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>83</string>
		</dict>
		<key>titlePos_x</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<key>subTitlePos</key>
		<dict>
			<key>x</key>
			<string>21</string>
			<key>y</key>
			<string>10</string>
		</dict>
	</dict>
</array>
</plist>
